body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u983 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u987 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u988 {
  position:absolute;
  left:6px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u989 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u991 {
  position:absolute;
  left:13px;
  top:28px;
  width:25px;
  height:25px;
}
#u992 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u993 {
  position:absolute;
  left:329px;
  top:28px;
  width:25px;
  height:25px;
}
#u994 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
}
#u996_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u996_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:54px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:54px;
  opacity:0.949999988079071;
}
#u998 {
  position:absolute;
  left:2px;
  top:19px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999 {
  position:absolute;
  left:15px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u999_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u999_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1000 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0.300000011920929;
}
#u1003 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  position:absolute;
  left:164px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u1004_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1004_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1005 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0.300000011920929;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009 {
  position:absolute;
  left:309px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u1009_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1009_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1010 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0.300000011920929;
}
#u1013 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:74px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1014 {
  position:absolute;
  left:240px;
  top:780px;
  width:350px;
  height:74px;
}
#u1015 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:560px;
  width:375px;
  height:57px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:16px;
  top:570px;
  width:20px;
  height:20px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:4px;
  top:590px;
  width:44px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1022 {
  position:absolute;
  left:2px;
  top:1px;
  width:40px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:146px;
  top:570px;
  width:134px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1024 {
  position:absolute;
  left:2px;
  top:1px;
  width:130px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:57px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1025 {
  position:absolute;
  left:294px;
  top:560px;
  width:79px;
  height:57px;
  color:#CCCCCC;
}
#u1026 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u1027 {
  position:absolute;
  left:146px;
  top:590px;
  width:134px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1028 {
  position:absolute;
  left:2px;
  top:1px;
  width:130px;
  word-wrap:break-word;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:306px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1029 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:306px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1030 {
  position:absolute;
  left:2px;
  top:144px;
  width:371px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1031 {
  position:absolute;
  left:110px;
  top:240px;
  width:140px;
  height:40px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:74px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1033 {
  position:absolute;
  left:25px;
  top:686px;
  width:350px;
  height:74px;
}
#u1034 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:419px;
  top:6px;
  width:375px;
  height:661px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u1040 {
  position:absolute;
  left:419px;
  top:0px;
  width:375px;
  height:63px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u1041 {
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u1042 {
  position:absolute;
  left:425px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u1043 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1045 {
  position:absolute;
  left:432px;
  top:28px;
  width:25px;
  height:25px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1047 {
  position:absolute;
  left:748px;
  top:28px;
  width:25px;
  height:25px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u1050 {
  position:absolute;
  left:419px;
  top:99px;
  width:375px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u1051 {
  position:absolute;
  left:72px;
  top:27px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1053 {
  position:absolute;
  left:457px;
  top:104px;
  width:67px;
  height:62px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:23px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u1055 {
  position:absolute;
  left:472px;
  top:117px;
  width:37px;
  height:37px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u1056 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1057 {
  position:absolute;
  left:524px;
  top:104px;
  width:263px;
  height:35px;
  text-align:left;
}
#u1058 {
  position:absolute;
  left:2px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990033;
  text-align:left;
}
#u1059 {
  position:absolute;
  left:524px;
  top:144px;
  width:85px;
  height:20px;
  color:#990033;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:2px;
  top:1px;
  width:81px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:730px;
  top:144px;
  width:57px;
  height:21px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#989898;
}
#u1063 {
  position:absolute;
  left:419px;
  top:64px;
  width:375px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#989898;
}
#u1064 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u1066 {
  position:absolute;
  left:419px;
  top:214px;
  width:375px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u1067 {
  position:absolute;
  left:72px;
  top:27px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:457px;
  top:219px;
  width:67px;
  height:62px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:23px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u1071 {
  position:absolute;
  left:472px;
  top:232px;
  width:37px;
  height:37px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u1072 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:524px;
  top:219px;
  width:263px;
  height:35px;
  text-align:left;
}
#u1074 {
  position:absolute;
  left:2px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990033;
  text-align:left;
}
#u1075 {
  position:absolute;
  left:524px;
  top:259px;
  width:85px;
  height:20px;
  color:#990033;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:2px;
  top:1px;
  width:81px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u1077 {
  position:absolute;
  left:730px;
  top:258px;
  width:57px;
  height:21px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#989898;
}
#u1079 {
  position:absolute;
  left:419px;
  top:179px;
  width:375px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#989898;
}
#u1080 {
  position:absolute;
  left:18px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u1082 {
  position:absolute;
  left:419px;
  top:560px;
  width:375px;
  height:57px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u1084 {
  position:absolute;
  left:423px;
  top:590px;
  width:44px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1085 {
  position:absolute;
  left:2px;
  top:1px;
  width:40px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u1086 {
  position:absolute;
  left:565px;
  top:570px;
  width:134px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1087 {
  position:absolute;
  left:2px;
  top:1px;
  width:130px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1088 {
  position:absolute;
  left:713px;
  top:560px;
  width:79px;
  height:57px;
  color:#FFFFFF;
}
#u1089 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
}
#u1090 {
  position:absolute;
  left:565px;
  top:590px;
  width:134px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1091 {
  position:absolute;
  left:2px;
  top:1px;
  width:130px;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1092 {
  position:absolute;
  left:435px;
  top:570px;
  width:20px;
  height:20px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_ann {
  position:absolute;
  left:448px;
  top:566px;
  width:1px;
  height:1px;
}
#u1095 {
  position:absolute;
  left:419px;
  top:617px;
  width:375px;
  height:50px;
  overflow:hidden;
}
#u1095_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1095_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:54px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:54px;
  opacity:0.949999988079071;
}
#u1097 {
  position:absolute;
  left:2px;
  top:19px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098 {
  position:absolute;
  left:15px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u1098_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1098_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1099 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0.300000011920929;
}
#u1102 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103 {
  position:absolute;
  left:164px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u1103_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1103_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1104 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0.300000011920929;
}
#u1107 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108 {
  position:absolute;
  left:309px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
}
#u1108_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1109 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:10px;
  color:#949494;
  text-align:center;
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1111 {
  position:absolute;
  left:10px;
  top:0px;
  width:30px;
  height:30px;
  opacity:0.300000011920929;
}
#u1112 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1113 {
  position:absolute;
  left:430px;
  top:123px;
  width:20px;
  height:20px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_ann {
  position:absolute;
  left:443px;
  top:119px;
  width:1px;
  height:1px;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1115 {
  position:absolute;
  left:430px;
  top:240px;
  width:20px;
  height:20px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_ann {
  position:absolute;
  left:443px;
  top:236px;
  width:1px;
  height:1px;
}
#u1117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:74px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1117 {
  position:absolute;
  left:437px;
  top:686px;
  width:350px;
  height:74px;
}
#u1118 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
