body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:532px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1643 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1644 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u1648 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u1649 {
  position:absolute;
  left:6px;
  top:4px;
  width:363px;
  height:13px;
  opacity:0.8;
}
#u1650 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1652 {
  position:absolute;
  left:13px;
  top:28px;
  width:25px;
  height:25px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1654 {
  position:absolute;
  left:48px;
  top:28px;
  width:25px;
  height:25px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1656 {
  position:absolute;
  left:329px;
  top:28px;
  width:25px;
  height:25px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:96px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:96px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:66px;
}
#u1661 {
  position:absolute;
  left:13px;
  top:74px;
  width:287px;
  height:66px;
  font-size:14px;
  text-align:left;
}
#u1662 {
  position:absolute;
  left:2px;
  top:5px;
  width:283px;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:76px;
}
#u1663 {
  position:absolute;
  left:339px;
  top:74px;
  width:36px;
  height:76px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:30px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1665 {
  position:absolute;
  left:70px;
  top:600px;
  width:250px;
  height:40px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:11px;
  width:246px;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:160px;
}
#u1667 {
  position:absolute;
  left:0px;
  top:170px;
  width:375px;
  height:160px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:72px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:130px;
}
#u1669 {
  position:absolute;
  left:13px;
  top:180px;
  width:127px;
  height:130px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:57px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:50px;
}
#u1671 {
  position:absolute;
  left:150px;
  top:180px;
  width:219px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u1672 {
  position:absolute;
  left:2px;
  top:5px;
  width:215px;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u1673 {
  position:absolute;
  left:150px;
  top:260px;
  width:70px;
  height:50px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1674 {
  position:absolute;
  left:2px;
  top:15px;
  width:66px;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u1675 {
  position:absolute;
  left:299px;
  top:260px;
  width:70px;
  height:50px;
  font-size:14px;
  color:#000000;
}
#u1676 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u1677 {
  position:absolute;
  left:0px;
  top:340px;
  width:375px;
  height:90px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1679 {
  position:absolute;
  left:13px;
  top:350px;
  width:77px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1680 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u1681 {
  position:absolute;
  left:100px;
  top:350px;
  width:254px;
  height:30px;
}
#u1681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
}
#u1682 {
  position:absolute;
  left:13px;
  top:390px;
  width:356px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1683 {
  position:absolute;
  left:2px;
  top:6px;
  width:352px;
  word-wrap:break-word;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:132px;
}
#u1685 {
  position:absolute;
  left:0px;
  top:440px;
  width:375px;
  height:132px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:58px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1687 {
  position:absolute;
  left:6px;
  top:450px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1688 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1689 {
  position:absolute;
  left:219px;
  top:450px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u1690 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1691 {
  position:absolute;
  left:6px;
  top:480px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1692 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1693 {
  position:absolute;
  left:219px;
  top:480px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u1694 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1695 {
  position:absolute;
  left:219px;
  top:510px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u1696 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1697 {
  position:absolute;
  left:6px;
  top:510px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1698 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u1699 {
  position:absolute;
  left:6px;
  top:539px;
  width:363px;
  height:1px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u1701 {
  position:absolute;
  left:225px;
  top:542px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1702 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  opacity:0.6;
}
#u1705 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:203px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  position:absolute;
  left:53px;
  top:191px;
  width:270px;
  height:203px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:94px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u1709 {
  position:absolute;
  left:73px;
  top:349px;
  width:231px;
  height:44px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
  text-align:center;
}
#u1710 {
  position:absolute;
  left:0px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1711 {
  position:absolute;
  left:63px;
  top:201px;
  width:256px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1712 {
  position:absolute;
  left:2px;
  top:6px;
  width:252px;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1713 {
  position:absolute;
  left:73px;
  top:201px;
  width:20px;
  height:20px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:90px;
}
#u1715 {
  position:absolute;
  left:73px;
  top:241px;
  width:231px;
  height:90px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:2px;
  width:227px;
  word-wrap:break-word;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:92px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1717 {
  position:absolute;
  left:182px;
  top:716px;
  width:350px;
  height:92px;
}
#u1718 {
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
